@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 20% 98%; /* Blanco almendra suave */
    --foreground: 327 20% 15%; /* Gris muy oscuro con matiz fucsia */
    --card: 0 0% 100%;
    --card-foreground: 327 20% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 327 20% 15%;
    --primary: 327 100% 60%; /* Fucsia Diva */
    --primary-foreground: 0 0% 100%;
    --secondary: 327 30% 96%; /* Rosa pastel muy suave */
    --secondary-foreground: 327 100% 40%;
    --muted: 327 10% 90%; 
    --muted-foreground: 327 10% 40%;
    --accent: 202 51% 85%; /* Celeste pastel suave */
    --accent-foreground: 202 80% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 327 20% 92%;
    --input: 327 20% 92%;
    --ring: 327 100% 60%;
    --radius: 2rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body antialiased;
  }
}

.font-headline {
  font-family: var(--font-space), sans-serif;
}

.font-body {
  font-family: var(--font-inter), sans-serif;
}

button {
  @apply transition-all active:scale-95 shadow-sm hover:shadow-md;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
